@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject ILogger<MainLayout> Logger
@inject LayoutService LayoutService
@implements IDisposable

<Header />
<div id="layoutSidenav">
    <NavMenu />
    <div id="layoutSidenav_content" class="page @LayoutService.BodyClass">
        <main class="container-fluid px-4">
            <AuthorizeView>
                <Authorized>
                    <h1 class="mt-4">@LayoutService.Title</h1>
                    <ol class="breadcrumb mb-4">
                        @foreach (var item in LayoutService.Breadcrumb)
                        {
                            if (item.IsActive)
                            {
                                <li class="breadcrumb-item active">@item.Name</li>
                            }
                            else
                            {
                                <li class="breadcrumb-item"><a href="@item.Url">@item.Name</a></li>
                            }
                        }
                    </ol>
                    @Body
                </Authorized>
                <NotAuthorized>
                    <Login />
                </NotAuthorized>
            </AuthorizeView>
        </main>
        <Footer />
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        Logger.LogInformation("MainLayout initialized. Subscribing to LayoutService OnChange event.");
        LayoutService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Logger.LogInformation("MainLayout disposed. Unsubscribing from LayoutService OnChange event.");
        LayoutService.OnChange -= StateHasChanged;
    }
}
